@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ----- LINKS ----- */
a:link,
a:visited {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

/* ----- BUTTON ----- */
.btn, .btn:link, .btn:visited {
  text-decoration: none;
  display: inline-block;
  vertical-align: top;
  padding: 15px;
  border-radius: 20px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-full,
.btn-full:link,
.btn-full:visited {
  color: black;
  background-color: #e7ecef;
}

.btn-ghost:link, .btn-ghost:visited {
  border: 1px solid #0466c8;
  color: #e7ecef;
}

@media screen and (min-width: 768px) {
  .btn-full:hover {
    background-color: #0466c8;
    color: #fff;
  }
}

/* common */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  font-family: "Lato", "微軟正黑體", arial;
  color: #333;
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem;
}

h2 {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 32px;
  line-height: 2rem;
  margin-bottom: 45px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

/* 套件 */
.swiper-container {
  width: 100%;
  height: 80%;
  background: transparent;
}

.swiper-slide {
  font-size: 18px;
  color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 50px;
}

.swiper-content {
  width: 100%;
  display: inline-block;
  margin: 0 auto;
}

.swiper-slide .title {
  font-size: 32px;
  font-size: 2rem;
  line-height: 40px;
  line-height: 2.5rem;
  font-weight: 300;
}

.swiper-slide .subtitle {
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 20px;
  line-height: 1.25rem;
}

.swiper-slide .text {
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem;
  line-height: 1.3;
}

@media screen and (min-width: 768px) {
  .swiper-slide {
    padding: 60px;
  }
  .swiper-slide .text {
    max-width: 400px;
  }
}

.section-title {
  font-size: 32px;
  font-size: 2rem;
  line-height: 40px;
  line-height: 2.5rem;
  text-transform: uppercase;
  background: -webkit-gradient(linear, left top, right top, from(#e7ecef), to(#0466c8));
  background: linear-gradient(to right, #e7ecef, #0466c8);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: 700;
}

/* 行動優先*/
.header {
  height: 70vh;
  background: url(../images/main-banner.jpg) no-repeat center left;
  background-size: cover;
  background-blend-mode: multiply;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  position: relative;
}

.header .header-content {
  width: 100%;
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 0 5%;
}

.header .header-content h1 {
  text-indent: -9999px;
  position: absolute;
}

.header .header-content .title {
  font-size: 32px;
  font-size: 2rem;
  line-height: 40px;
  line-height: 2.5rem;
  text-shadow: rgba(0, 0, 0, 0.6) 0.1em 0.1em 0.2em;
  margin-bottom: 15px;
  display: block;
}

.header .header-content span {
  text-shadow: rgba(0, 0, 0, 0.6) 0.1em 0.1em 0.2em;
  display: inline-block;
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 32px;
  line-height: 2rem;
}

.header .header-content .header-btn-group {
  text-align: center;
  margin-top: 30px;
}

.header .header-content .header-btn-group :first-child {
  margin-bottom: 15px;
}

.header .header-content .header-btn-group a {
  margin: 0 auto;
  display: block;
  width: 120px;
}

#about {
  background-color: #f7f7f7;
  text-align: center;
  padding: 120px 0 150px;
  margin-top: -15vh;
}

#about .about-content .pic {
  width: 60%;
  margin: 0 auto;
  margin-bottom: 30px;
}

#about .about-content .pic img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#about .about-content .intro {
  max-width: 500px;
  margin: 0 auto;
  color: #777777;
  text-align: left;
}

#about .about-content .intro .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 15px;
}

#about .about-content .intro .title .main-title {
  display: inline-block;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 26px;
  line-height: 1.625rem;
  font-weight: 700;
}

#about .about-content .intro .title .sub-title {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 26px;
  line-height: 1.625rem;
  display: inline-block;
  font-weight: 800;
  color: #0353a4;
}

#about .about-content .intro .txt {
  line-height: 1.7;
  text-indent: 34px;
  display: block;
  text-align: justify;
  margin-bottom: 15px;
}

#about .about-content .about-btn-group {
  text-align: center;
}

#about .about-content .about-btn-group a {
  display: block;
  margin-bottom: 15px;
}

#skill {
  text-align: center;
  background: url(../images/skill-bg.jpg) no-repeat fixed center;
  background-size: cover;
  padding: 120px 0;
  -webkit-transform: skewY(-4deg);
          transform: skewY(-4deg);
  margin-top: -15vh;
}

#skill .container {
  -webkit-transform: skewY(4deg);
          transform: skewY(4deg);
}

#skill .container h2 {
  text-indent: -9999px;
  position: absolute;
}

#skill .skill-content .card {
  -webkit-perspective: 800px;
          perspective: 800px;
  position: relative;
}

#skill .skill-content .card .card-side {
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  min-height: 350px;
  -webkit-box-shadow: 0 0 5px #2c3e50;
          box-shadow: 0 0 5px #2c3e50;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

#skill .skill-content .card .card-front {
  background: rgba(255, 255, 255, 0.8);
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

#skill .skill-content .card .card-front .pic img {
  width: 50%;
  vertical-align: middle;
}

#skill .skill-content .card .card-back {
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  top: 0;
  left: 0;
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  position: absolute;
}

#skill .skill-content .card .card-details h3 {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 32px;
  line-height: 2rem;
  margin-bottom: 15px;
}

#skill .skill-content .card .card-details ul li {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 26px;
  line-height: 1.625rem;
  padding: 5px 0;
}

#skill .skill-content .card .card-details ul li:not(:last-child) {
  border-bottom: 2px solid #777777;
}

#skill .skill-content .card:not(:last-child) {
  margin-bottom: 30px;
}

#experience {
  background-color: #f7f7f7;
  text-align: center;
  padding: 200px 0;
  margin-top: -20vh;
}

#experience .experience-content .job-list {
  padding-left: 30px;
  margin: 0 auto;
  width: 80%;
  color: #777777;
  text-align: left;
  border-left: 3px solid #0466c8;
}

#experience .experience-content .job-list .job-item {
  position: relative;
}

#experience .experience-content .job-list .job-item:before {
  position: absolute;
  content: "";
  outline: white solid 8px;
  background: #0353a4;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  top: 7px;
  left: -37px;
  width: 10px;
  height: 10px;
}

#experience .experience-content .job-list .job-item .date {
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  background: #0466c8;
  display: inline-block;
  color: #fff;
  padding: 1px 5px;
  border-radius: 2px;
  margin-bottom: 15px;
}

#experience .experience-content .job-list .job-item .job-title {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 26px;
  line-height: 1.625rem;
  font-weight: 800;
  margin-bottom: 10px;
}

#experience .experience-content .job-list .job-item .job-skill {
  font-weight: 800;
  margin-bottom: 15px;
}

#experience .experience-content .job-list .job-item .job-skill::before {
  content: "使用技術:";
}

#experience .experience-content .job-list .job-item .job-skill .skill-item {
  display: inline-block;
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 20px;
  line-height: 1.25rem;
  padding: 5px;
  margin: 2px;
  color: #0466c8;
  border-radius: 5px;
  border: 2px solid #0466c8;
}

#experience .experience-content .job-list .job-item .job-detail {
  max-height: 130px;
  overflow: hidden;
  position: relative;
  margin-bottom: 45px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#experience .experience-content .job-list .job-item .job-detail .job-cover {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(#f7f7f7));
  background: linear-gradient(rgba(255, 255, 255, 0), #f7f7f7);
}

#experience .experience-content .job-list .job-item .job-detail .job-show {
  background: transparent;
}

#experience .experience-content .job-list .job-item .job-detail .job-sub-title {
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem;
  font-weight: 800;
  margin-bottom: 10px;
}

#experience .experience-content .job-list .job-item .job-detail .job-sub-title:before {
  content: "- ";
}

#experience .experience-content .job-list .job-item .job-detail .job-award {
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 20px;
  line-height: 1.25rem;
  color: #ff8000;
  font-weight: 800;
  margin-bottom: 15px;
  display: inline-block;
  margin-left: 10px;
}

#experience .experience-content .job-list .job-item .job-detail .job-award:before {
  content: "- ";
}

#experience .experience-content .job-list .job-item .job-detail .job-explain {
  line-height: 1.7;
  text-align: justify;
  margin-bottom: 15px;
  margin-left: 10px;
}

#experience .experience-content .job-list .job-item .job-detail .job-spread {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: absolute;
  left: 50%;
  bottom: 1px;
  background-color: #0466c8;
  color: white;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

#experience .experience-content .job-list .job-item .job-detail .job-spread .arrow {
  content: "";
  border-style: solid;
  border-color: white;
  border-width: 0px 3px 3px 0px;
  border-bottom-right-radius: 2px;
  padding: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, calc(-50% - 2px)) rotate(45deg);
          transform: translate(-50%, calc(-50% - 2px)) rotate(45deg);
}

#experience .experience-content .job-list .job-item .job-detail .job-spread .arrow-open {
  -webkit-transform: translate(-50%, calc(-50%)) rotate(-135deg);
          transform: translate(-50%, calc(-50%)) rotate(-135deg);
}

#experience .experience-content .job-list .job-item .job-detail .job-spread-open {
  bottom: -30px;
}

#experience .experience-content .job-list .job-item .job-detail-open {
  max-height: none;
  overflow: visible;
}

#works {
  background: url(../images/work-bg.jpg) no-repeat left;
  -webkit-clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0% 100%);
          clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0% 100%);
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: multiply;
  padding: 60px 0;
  margin-top: -25vh;
}

#works h2 {
  text-indent: -9999px;
  position: absolute;
}

#works .swiper-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#works .swiper-content .pic {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  width: 80%;
  margin-bottom: 15px;
}

#works .swiper-content .pic a {
  display: inline-block;
}

#works .swiper-content .pic a img {
  border-radius: 15px;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

#works .swiper-content .artical {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  text-align: center;
}

#works .swiper-content .artical .title {
  margin-bottom: 5px;
}

#works .swiper-content .artical .subtitle {
  text-align: center;
  margin-bottom: 15px;
}

#works .swiper-content .artical .skill {
  color: #0353a4;
  text-align: left;
  margin-bottom: 15px;
}

#works .swiper-content .artical .skill .skill-item {
  display: inline-block;
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 20px;
  line-height: 1.25rem;
  background: #fff;
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
}

#works .swiper-content .artical .text {
  line-height: 1.7;
  text-align: justify;
}

#works .swiper-content .artical .text span {
  display: block;
}

#contact {
  background-color: #f7f7f7;
  text-align: center;
  padding-top: 120px;
  padding-bottom: 30px;
  margin-top: -15vh;
}

#contact .contact-content .pic {
  display: inline-block;
  margin: 0 auto;
  height: 100%;
  position: relative;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#contact .contact-content .pic img {
  display: none;
}

#contact .contact-content .pic .remark {
  display: none;
  color: #777777;
}

#contact .contact-content .pic .thank {
  color: #0466c8;
  margin-bottom: 15px;
}

#contact .contact-content .pic .icon-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#contact .contact-content .pic .icon-list .icon {
  cursor: pointer;
  border-radius: 50%;
  margin: 5px;
}

#contact .contact-content .pic .icon-list .github,
#contact .contact-content .pic .icon-list .phone,
#contact .contact-content .pic .icon-list .gmail {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  position: relative;
  display: inline-block;
  height: 100px;
  width: 100px;
  background: -webkit-gradient(linear, left top, right top, from(#0466c8), to(#e7ecef));
  background: linear-gradient(to right, #0466c8, #e7ecef);
  border-radius: 50%;
}

#contact .contact-content .pic .fa {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.copyright {
  color: #fff;
  text-align: center;
  background-color: #0466c8;
}

/* 桌機 */
@media screen and (min-width: 768px) {
  body {
    padding: 16px;
  }
  .btn {
    padding: 15px 30px;
  }
  .container {
    padding: 0;
  }
  .header {
    height: 90vh;
  }
  .header .header-content .title {
    font-size: 48px;
    font-size: 3rem;
    line-height: 56px;
    line-height: 3.5rem;
  }
  .header .header-content .header-btn-group {
    text-align: center;
  }
  .header .header-content .header-btn-group :first-child {
    margin-right: 30px;
    margin-bottom: 0px;
  }
  .header .header-content .header-btn-group a {
    float: left;
    width: 150px;
  }
  .header .header-content .header-btn-group:after {
    content: "";
    display: block;
    clear: both;
  }
  #about {
    padding: 120px 0 200px;
  }
  #about .about-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 85%;
    margin: 0 auto;
  }
  #about .about-content .pic {
    margin-bottom: 0px;
    position: relative;
  }
  #about .about-content .pic img {
    width: auto;
    height: auto;
    max-width: 35vw;
    max-height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    border-radius: 5px;
  }
  #about .about-content .pic img:hover {
    -webkit-box-shadow: 4px 4px 12px 4px rgba(51, 51, 102, 0.5);
            box-shadow: 4px 4px 12px 4px rgba(51, 51, 102, 0.5);
  }
  #about .about-content .intro {
    width: 60%;
  }
  #about .about-content .about-btn-group {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  #about .about-content .about-btn-group a {
    padding: 10px;
    margin-bottom: 0px;
  }
  #skill .skill-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  #skill .skill-content .card {
    margin-top: 0vh;
    margin: 0 15px;
  }
  #skill .skill-content .card .card-front {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  #skill .skill-content .card .card-back {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  #skill .skill-content .card:hover .card-front {
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
  }
  #skill .skill-content .card:hover .card-back {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  #experience {
    margin-top: -15vh;
  }
  #experience .experience-content .job-list {
    padding: 0 30px;
  }
  #experience .experience-content .job-list .job-item .job-detail {
    max-height: none;
    overflow: visible;
    position: relative;
  }
  #experience .experience-content .job-list .job-item .job-detail .job-cover {
    background: transparent;
  }
  #experience .experience-content .job-list .job-item .job-detail .job-explain {
    text-indent: 34px;
  }
  #experience .experience-content .job-list .job-item .job-detail .job-spread {
    display: none;
  }
  #experience .experience-content .job-list .job-item:hover::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    background: #ff8000;
  }
  #experience .experience-content .job-list .job-item:hover .date {
    background: #ff8000;
  }
  #works {
    -webkit-clip-path: polygon(0 15%, 100% 0%, 100% 85%, 0% 100%);
            clip-path: polygon(0 15%, 100% 0%, 100% 85%, 0% 100%);
  }
  #works .swiper-slide:nth-child(even) .pic {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  #works .swiper-slide .swiper-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #works .swiper-slide .swiper-content .pic {
    position: relative;
    max-width: 600px;
    width: 100%;
    margin: 30px;
  }
  #works .swiper-slide .swiper-content .pic:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0.5;
    border-radius: 15px;
    cursor: pointer;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  #works .swiper-slide .swiper-content .pic:after {
    content: "點擊連接至GitHub";
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  #works .swiper-slide .swiper-content .pic:hover:before {
    height: 0%;
    background: transparent;
    opacity: 1;
  }
  #works .swiper-slide .swiper-content .pic:hover:after {
    content: "";
  }
  #works .swiper-slide .swiper-content .artical {
    text-align: left;
  }
  #works .swiper-slide .swiper-content .artical .subtitle {
    text-align: left;
  }
  #contact .contact-content .pic {
    display: inline-block;
    margin: 0 auto;
    height: 350px;
    position: relative;
  }
  #contact .contact-content .pic img {
    display: block;
    height: 100%;
  }
  #contact .contact-content .pic .remark {
    display: block;
  }
  #contact .contact-content .pic .thank {
    display: block;
    color: #fff;
    padding: 6px;
    position: absolute;
    top: -20px;
    left: -190px;
    width: 170px;
    height: 190px;
    text-align: left;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
            clip-path: polygon(0 0, 100% 0, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
    background-color: #0466c8;
    line-height: 1.7;
    text-align: justify;
  }
  #contact .contact-content .pic .icon-list .icon {
    display: inline-block;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
  }
  #contact .contact-content .pic .icon-list .icon:nth-child(1) {
    top: 0px;
    left: 160px;
  }
  #contact .contact-content .pic .icon-list .icon:nth-child(2) {
    top: 230px;
    left: -170px;
  }
  #contact .contact-content .pic .icon-list .icon:nth-child(3) {
    top: 200px;
    left: 200px;
  }
  #contact .contact-content .pic .icon-list .icon .github:hover {
    background: #0466c8;
    height: 140px;
    width: 140px;
  }
  #contact .contact-content .pic .icon-list .icon .github:hover::before {
    content: "GitHub";
    color: white;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    top: 20%;
  }
  #contact .contact-content .pic .icon-list .icon .github:hover::after {
    content: "JanShawn";
    font-size: 12px;
    color: white;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: 30px;
  }
  #contact .contact-content .pic .icon-list .icon .phone:hover {
    background: #0466c8;
    height: 140px;
    width: 140px;
  }
  #contact .contact-content .pic .icon-list .icon .phone:hover::before {
    content: "Phone";
    color: white;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    top: 20%;
  }
  #contact .contact-content .pic .icon-list .icon .phone:hover::after {
    content: "0976699057";
    font-size: 12px;
    color: white;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: 30px;
  }
  #contact .contact-content .pic .icon-list .icon .gmail:hover {
    background: #0466c8;
    height: 150px;
    width: 150px;
  }
  #contact .contact-content .pic .icon-list .icon .gmail:hover::before {
    content: "Gmail";
    color: white;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    top: 20%;
  }
  #contact .contact-content .pic .icon-list .icon .gmail:hover::after {
    content: "janshawns@gmail.com";
    font-size: 12px;
    color: white;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: 30px;
  }
}
