* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}
html,
body {
  font-family: "Lato", "微軟正黑體", arial;
  color: color(graylist, 1);
  @include font(2);
}

h2 {
  @include font(4);
  margin-bottom: 45px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}
