@import "reset";
@import "utils";
@import "component";
/* common */
@import "layout";
/* 套件 */
@import "swiper";
.section-title {
  @include font(5);
  text-transform: uppercase;
  background: linear-gradient(to right, color(primarylist, 1), color(primarylist, 2));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: 700;
}
/* 行動優先*/
.header {
  height: 70vh;
  background: url(../images/main-banner.jpg) no-repeat center left;
  background-size: cover;
  background-blend-mode: multiply;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  position: relative;
  .header-content {
    width: 100%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 5%;
    h1 {
      text-indent: -9999px;
      position: absolute;
    }
    .title {
      @include font(5);
      text-shadow: rgba(0, 0, 0, 0.6) 0.1em 0.1em 0.2em;
      margin-bottom: 15px;
      display: block;
    }
    span {
      text-shadow: rgba(0, 0, 0, 0.6) 0.1em 0.1em 0.2em;
      display: inline-block;
      @include font(4);
    }
    .header-btn-group {
      text-align: center;
      margin-top: 30px;
      :first-child {
        margin-bottom: 15px;
      }
      a {
        margin: 0 auto;
        display: block;
        width: 120px;
      }
    }
  }
}
#about {
  background-color: #f7f7f7;
  text-align: center;
  padding: 120px 0 150px;
  margin-top: -15vh;
  .about-content {
    .pic {
      width: 60%;
      margin: 0 auto;
      margin-bottom: 30px;
      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        transition: all 0.5s;
      }
    }
    .intro {
      max-width: 500px;
      margin: 0 auto;
      color: color(graylist, 2);
      text-align: left;
      .title {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 15px;
        .main-title {
          display: inline-block;
          @include font(3);
          font-weight: 700;
        }
        .sub-title {
          @include font(3);
          display: inline-block;
          font-weight: 800;
          color: color(primarylist, 3);
        }
      }
      .txt {
        line-height: 1.7;
        text-indent: 34px;
        display: block;
        text-align: justify;
        margin-bottom: 15px;
      }
    }
    .about-btn-group {
      text-align: center;
      a {
        display: block;
        margin-bottom: 15px;
      }
    }
  }
}
#skill {
  text-align: center;
  background: url(../images/skill-bg.jpg) no-repeat fixed center;
  background-size: cover;
  padding: 120px 0;
  transform: skewY(-4deg);
  margin-top: -15vh;
  .container {
    transform: skewY(4deg);
    h2 {
      text-indent: -9999px;
      position: absolute;
    }
  }
  .skill-content {
    .card {
      perspective: 800px;
      position: relative;
      .card-side {
        border-radius: 3px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        min-height: 350px;
        box-shadow: 0 0 5px #2c3e50;
        transition: all 0.8s ease;
        backface-visibility: hidden;
      }
      .card-front {
        background: rgba(255, 255, 255, 0.8);
        transform: rotateY(180deg);
        .pic {
          img {
            width: 50%;
            vertical-align: middle;
          }
        }
      }
      .card-back {
        background-color: rgba(0, 0, 0, 0.7);
        color: #fff;
        top: 0;
        left: 0;
        transform: rotateY(0deg);
        position: absolute;
      }
      .card-details {
        h3 {
          @include font(4);
          margin-bottom: 15px;
        }
        ul {
          li {
            @include font(3);
            padding: 5px 0;
            &:not(:last-child) {
              border-bottom: 2px solid color(graylist, 2);
            }
          }
        }
      }
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
  }
}
#experience {
  background-color: #f7f7f7;
  text-align: center;
  padding: 200px 0;
  margin-top: -20vh;
  .experience-content {
    .job-list {
      padding-left: 30px;
      margin: 0 auto;
      width: 80%;
      color: color(graylist, 2);
      text-align: left;
      border-left: 3px solid color(primarylist, 2);
      .job-item {
        position: relative;
        &:before {
          position: absolute;
          content: "";
          outline: rgb(255, 255, 255) solid 8px;
          background: color(primarylist, 3);
          transition: all 0.2s ease-in;
          top: 7px;
          left: -37px;
          width: 10px;
          height: 10px;
        }
        .date {
          transition: all 0.2s ease-in;
          background: color(primarylist, 2);
          display: inline-block;
          color: #fff;
          padding: 1px 5px;
          border-radius: 2px;
          margin-bottom: 15px;
        }
        .job-title {
          @include font(3);
          font-weight: 800;
          margin-bottom: 10px;
        }
        .job-skill {
          font-weight: 800;
          margin-bottom: 15px;
          &::before {
            content: "使用技術:";
          }
          .skill-item {
            display: inline-block;
            @include font(1);
            padding: 5px;
            margin: 2px;
            color: color(primarylist, 2);
            border-radius: 5px;
            border: 2px solid color(primarylist, 2);
          }
        }
        .job-detail {
          max-height: 130px;
          overflow: hidden;
          position: relative;
          margin-bottom: 45px;
          transition: all 0.5s;
          .job-cover {
            display: inline-block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0px;
            left: 0px;
            background: linear-gradient(rgba(255, 255, 255, 0), rgb(247, 247, 247));
          }
          .job-show {
            background: transparent;
          }
          .job-sub-title {
            @include font(2);
            font-weight: 800;
            margin-bottom: 10px;
            &:before {
              content: "- ";
            }
          }
          .job-award {
            &:before {
              content: "- ";
            }
            @include font(1);
            color: #ff8000;
            font-weight: 800;
            margin-bottom: 15px;
            display: inline-block;
            margin-left: 10px;
          }
          .job-explain {
            line-height: 1.7;
            text-align: justify;
            margin-bottom: 15px;
            margin-left: 10px;
          }
          .job-spread {
            display: inline-block;
            width: 30px;
            height: 30px;
            position: absolute;
            left: 50%;
            bottom: 1px;
            background-color: color(primarylist, 2);
            color: rgb(255, 255, 255);
            border-radius: 50%;
            cursor: pointer;
            transform: translate(-50%);
            .arrow {
              content: "";
              border-style: solid;
              border-color: rgb(255, 255, 255);
              border-width: 0px 3px 3px 0px;
              border-bottom-right-radius: 2px;
              padding: 4px;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, calc(-50% - 2px)) rotate(45deg);
            }
            .arrow-open {
              transform: translate(-50%, calc(-50%)) rotate(-135deg);
            }
          }
          .job-spread-open {
            bottom: -30px;
          }
        }
        .job-detail-open {
          max-height: none;
          overflow: visible;
        }
      }
    }
  }
}
#works {
  background: url(../images/work-bg.jpg) no-repeat left;
  clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0% 100%);
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: multiply; // 設置背景混和模式為相乘模式
  padding: 60px 0;
  margin-top: -25vh;
  h2 {
    text-indent: -9999px;
    position: absolute;
  }
  .works-content {
  }
  .swiper-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;

    .pic {
      order: -1;
      width: 80%;
      margin-bottom: 15px;
      a {
        display: inline-block;
        img {
          border-radius: 15px;
          width: 100%;
          height: 100%;
          vertical-align: middle;
        }
      }
    }
    .artical {
      order: -1;
      text-align: center;
      .title {
        margin-bottom: 5px;
      }
      .subtitle {
        text-align: center;
        margin-bottom: 15px;
      }
      .skill {
        color: color(primarylist, 3);
        text-align: left;
        margin-bottom: 15px;
        .skill-item {
          display: inline-block;
          @include font(1);
          background: #fff;
          border-radius: 5px;
          padding: 5px;
          margin: 3px;
        }
      }
      .text {
        line-height: 1.7;
        text-align: justify;
        span {
          display: block;
        }
      }
    }
  }
}
#contact {
  background-color: #f7f7f7;
  text-align: center;
  padding-top: 120px;
  padding-bottom: 30px;
  margin-top: -15vh;
  .contact-content {
    .pic {
      display: inline-block;
      margin: 0 auto;
      height: 100%;
      position: relative;
      transition: all 0.5s;
      img {
        display: none;
      }
      .remark {
        display: none;
        color: color(graylist, 2);
      }
      .thank {
        color: color(primarylist, 2);
        margin-bottom: 15px;
      }
      .icon-list {
        display: flex;
        flex-direction: column;
        .icon {
          cursor: pointer;
          border-radius: 50%;
          margin: 5px;
        }
        .github,
        .phone,
        .gmail {
          transition: all 0.5s;
          position: relative;
          display: inline-block;
          height: 100px;
          width: 100px;
          background: linear-gradient(to right, color(primarylist, 2), color(primarylist, 1));
          border-radius: 50%;
        }
      }
      .fa {
        color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}
.copyright {
  color: #fff;
  text-align: center;
  background-color: color(primarylist, 2);
}
/* 桌機 */
@media screen and (min-width: 768px) {
  body {
    padding: 16px;
  }
  .btn {
    padding: 15px 30px;
  }
  .container {
    padding: 0;
  }
  .header {
    height: 90vh;
    .header-content {
      .title {
        @include font(6);
      }
      .header-btn-group {
        text-align: center;
        :first-child {
          margin-right: 30px;
          margin-bottom: 0px;
        }
        a {
          float: left;
          width: 150px;
        }
        &:after {
          content: "";
          display: block;
          clear: both;
        }
      }
    }
  }
  #about {
    padding: 120px 0 200px;
    .about-content {
      display: flex;
      max-width: 85%;
      margin: 0 auto;
      .pic {
        margin-bottom: 0px;
        position: relative;
        img {
          width: auto;
          height: auto;
          max-width: 35vw;
          max-height: 100%;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          border-radius: 5px;
          &:hover {
            box-shadow: 4px 4px 12px 4px rgba(20%, 20%, 40%, 0.5);
          }
        }
      }
      .intro {
        width: 60%;
      }
      .about-btn-group {
        text-align: center;
        display: flex;
        justify-content: space-evenly;
        a {
          padding: 10px;
          margin-bottom: 0px;
        }
      }
    }
  }
  #skill {
    .skill-content {
      display: flex;
      justify-content: space-evenly;
      .card {
        margin-top: 0vh;
        margin: 0 15px;
        .card-front {
          transform: rotateY(0deg);
        }
        .card-back {
          transform: rotateY(180deg);
        }
        &:hover {
          .card-front {
            transform: rotateY(-180deg);
          }
          .card-back {
            transform: rotateY(0deg);
          }
        }
      }
    }
  }
  #experience {
    margin-top: -15vh;
    .experience-content {
      .job-list {
        padding: 0 30px;
        .job-item {
          .job-detail {
            max-height: none;
            overflow: visible;
            position: relative;
            .job-cover {
              background: transparent;
            }
            .job-explain {
              text-indent: 34px;
            }
            .job-spread {
              display: none;
            }
          }
          &:hover::before {
            transform: rotate(45deg);
            background: #ff8000;
          }
          &:hover {
            .date {
              background: #ff8000;
            }
          }
        }
      }
    }
  }
  #works {
    clip-path: polygon(0 15%, 100% 0%, 100% 85%, 0% 100%);
    .swiper-slide {
      &:nth-child(even) {
        .pic {
          order: 1;
        }
      }
      .swiper-content {
        display: flex;
        flex-direction: row;
        .pic {
          &:before {
            content: "";
            position: absolute;
            height: 100%;
            width: 100%;
            background: rgba(0, 0, 0, 0.5);
            opacity: 0.5;
            border-radius: 15px;
            cursor: pointer;
            transition: all 0.5s;
          }
          &:after {
            content: "點擊連接至GitHub";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
          &:hover:before {
            height: 0%;
            background: transparent;
            opacity: 1;
          }
          &:hover:after {
            content: "";
          }
          position: relative;

          max-width: 600px;
          width: 100%;
          margin: 30px;
          .text {
          }
        }
        .artical {
          text-align: left;
          .subtitle {
            text-align: left;
          }
        }
      }
    }
  }
  #contact {
    .contact-content {
      .pic {
        display: inline-block;
        margin: 0 auto;
        height: 350px;
        position: relative;
        img {
          display: block;
          height: 100%;
        }
        .remark {
          display: block;
        }
        .thank {
          display: block;
          color: #fff;
          padding: 6px;
          position: absolute;
          top: -20px;
          left: -190px;
          width: 170px;
          height: 190px;
          text-align: left;
          clip-path: polygon(0 0, 100% 0, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
          background-color: color(primarylist, 2);
          line-height: 1.7;
          text-align: justify;
        }

        .icon-list {
          .icon {
            display: inline-block;
            cursor: pointer;
            border-radius: 50%;
            position: absolute;
            &:nth-child(1) {
              top: 0px;
              left: 160px;
            }
            &:nth-child(2) {
              top: 230px;
              left: -170px;
            }
            &:nth-child(3) {
              top: 200px;
              left: 200px;
            }
            .github:hover {
              background: color(primarylist, 2);
              height: 140px;
              width: 140px;
              &::before {
                content: "GitHub";
                color: white;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                top: 20%;
              }
              &::after {
                content: "JanShawn";
                font-size: 12px;
                color: white;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                bottom: 30px;
              }
            }

            .phone:hover {
              background: color(primarylist, 2);
              height: 140px;
              width: 140px;
              &::before {
                content: "Phone";
                color: white;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                top: 20%;
              }
              &::after {
                content: "0976699057";
                font-size: 12px;
                color: white;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                bottom: 30px;
              }
            }
            .gmail:hover {
              background: color(primarylist, 2);
              height: 150px;
              width: 150px;
              &::before {
                content: "Gmail";
                color: white;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                top: 20%;
              }
              &::after {
                content: "janshawns@gmail.com";
                font-size: 12px;
                color: white;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                bottom: 30px;
              }
            }
          }
        }
      }
    }
  }
}
